.counter {
    padding: 70px 0;
    &__card {
        h2 {
            margin-bottom: 10px;
        }
        h4 {
            font-size: 20px;
            margin-bottom: 20px;
        }
        p {
            margin: 20px 0;
        }
    }
}