//Colors

$primary_color: #0F384C;
$secondary_color: #1D84B5;
$tertiary_color: #EFF8FF;

$white_color: #FFFFFF;
$black_color: #000000;

$yellow_color: #FFA800;
$text_color: #527282;
$light_grey: #D8E5ED;

//Fonts
$font-family: 'Josefin Sans', sans-serif;

//Font Sizes
$font_size_sm: 14px;
$font_size_md: 16px;
$font_size_lg: 18px;
$font_size_xl: 44px;
$font_size_xxl: 54px;
