body {
    font-family: $font-family;
    font-size: $font_size_md;
    color: $primary_color;
}

h1 {
    font-size: $font_size_xxl;
    color: $primary_color;
    font-weight: 700;
    line-height: 1.2;
    span {
        color: $secondary_color;
    }
}

h2 {
    font-size: $font_size_xl;
    color: $primary_color;
    font-weight: 700;
    line-height: 1.2;
    span {
        color: $secondary_color;
    }
}

h3 {
    font-size: $font_size_sm;
    color: $secondary_color;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
}

p {
    font-size: 18px;
    color: $text_color;
    line-height: 1.8;
}